body {
background-image: url('https://i.pinimg.com/originals/34/c0/d1/34c0d19c528865185b4839865651ae4b.gif');
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 100px;
}    

h1 {
    color:blue ;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 35px;
}

#contenedor {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 400px;
height: 200px;
max-width: 600px;
background-color: #000a9772;
border-radius: 30px;

padding: 20px;
}

.question {
    font-family:'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#secretInput {
    font-family:'Comic Sans MS', cursive, sans-serif; 

}

#secretButton {
    font-family:'Comic Sans MS', cursive, sans-serif;
}

#message {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.error-message {
    color: red;
    font-weight: bold;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #333;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

#customAlertMsg {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}